/* IMPORTACION FONT */
@font-face {
    font-family: 'font';
    src: url(./../assets/fonts/Inconsolata-VariableFont_wdth\,wght.ttf);
}
body{
    margin: 0 auto;
    background-image: url(./../assets/images/background-desktop.png);
    font-family: 'font';
    color: white;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
/* HEADER */
.img__header{
    width: 300px;
}
/* MAIN */
.title__main{
    font-size: 4rem;
}
.text__main{
    font-size: 2rem;
}
/* FORM */
.form__main{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    width: 440px;
}
/* STYLES CONT AND INPUT TYPE FILE */
.cont__form-file {
    display: flex;
    justify-content: center;
    border: 2px dashed white;
    background-color: #f9f9f9;
    opacity: 0.3;
    padding: 20px;
    height: 150px;
    width: 400px;
    border-radius: 0.5rem;
    text-align: center;
    cursor: pointer;
    position: relative;
}
.input__file-form{
    display: none;
}
.img__file{
    background-color: #adadad;
    border-radius: 0.5rem;
    opacity: 1;
    padding: 10px;
}
/* RESTO DE INPUTS */
.cont__form-main {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 440px;
    /* border: 1px solid yellow; */
}
.input__form{
    border-radius: 0.25rem;
    border: 5px solid white;
    height: 40px;
    background-color: #bfbdbd;
    opacity: 0.3;
    padding: 5px;
    color: white;
    font-size: 1rem;
}
.input__form:focus{
    color: white;
    outline: none;
}
.label__form{
    font-size: 1.5rem;
}
.button__form{
    border-radius: 0.5rem;
    background-color: salmon;
    color: rgb(0, 0, 102);
    height: 50px;
    font-size: 1.25rem;
    font-family: 'font';
    font-weight: bold;
}
/* STYLES TICKET */
.cont__ticket{
    background-image: url(./../assets/images/pattern-ticket.svg);
    width: 600px;
}
